@charset "utf-8";

*
{
    margin:0;
    padding:0;
    outline: none;
}

body
{
    overflow: visible;
    background: #E4E4E4;
    font-size: 13px;
    font-family: Helvetica, Arial, Verdana, sans-serif;
    color: #333;
}

a
{
    color: #1BA3FD;
    text-decoration: none;
}

a:hover, a:focus
{ 
    color: #1BA333;
}

ul
{
    list-style: none;
}

p
{
    padding: 6px 0 12px 0;
}

h1, h2
{
    text-shadow: 0 1px 3px white;
}


/* Flash Message */
#flashMessage
{
    display: block;
    margin: 0 0 20px 0;
    padding: 12px;
    font-style: italic;
    text-align: left;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}

#flashMessage.success
{
    color: #fff;
    background-color: #7dac38;
    border: 1px solid #3B8230;
}

#flashMessage.failure
{
    color: #C11;
    background-color: #FFEBE8;
    border: 1px solid #C00;
}

#flashMessage.notice
{
    color: #817134;
    background-color: #FFF6BF;
    border: 1px solid #FFD324;
}

/** Layout **/
#container
{
    margin: 0 auto;
    width: 1000px;
    text-align: left;
}

#header
{
    padding: 10px 0;
}

#header h1
{
    text-align: center;
}

#menu
{
    text-shadow: 0 1px 3px white;
}

#menu ul
{
    width: 420px;
    margin: 0 auto;
}

#menu ul li
{
    display: block;
    float: left;
}

#menu ul li a
{
    display: block;
    float: left;
    padding: 3px 22px;
}

#content
{
    padding: 20px 0;
    clear: both;
    overflow: auto;
}

#footer
{
    clear: both;
    padding: 6px 0;
    text-align: right;
}